services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: npc_commerce
      POSTGRES_USER: npc
      POSTGRES_PASSWORD: npc_password
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'

volumes:
  pgdata:
